body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}


.bottom-one {
     margin-bottom: 1cm;
}

.bottom-two {
     margin-bottom: 2cm;
}

.bottom-three {
     margin-bottom: 3cm;
}


.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  overflow-y: auto;
  z-index: 0;
  background-color: hsl(0,0%,100%);
}

.page:target {
  left: 0vw;
  z-index: 1;
}


.logo_topright {
  position:absolute;
  top:0;
  right:0;
  height: 165px;
  width: 165px;	
}


.topright {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 130px;
    width: 130px;
    text-indent: -999em;
    text-decoration: none;
}

a:hover{
 border:1px solid red;  
}

